<footer class="page-footerfont-small bg-segundary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
             </div>

             <div class="row ">
                 <div class="col-md-12 d-flex justify-content-center"></div>

                 <ul class="redes-sociais col-md-12 d-flex justify-content-center">
                     <li>
                         <a href="https://www.facebook.com/Nadyne-Barbieri-100352235923728" target="_blank" class="icoFacebook">
                             <i class="fa fa-facebook-square" aria-hidden="true"></i>
                         </a>
                     </li>

                     <li>
                        <a href="https://www.instagram.com/nadynemayara/" target="_blank" class="icoinstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/nadyne-barbieri-105b99111/" target="_blank" class="icolinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
<li>
                        <a href="https://github.com/NadyneBarbieri" target="_blank" class="icolinkedin">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>
                 </ul>
             </div>

        </div>
    </div>
<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> © 2020 footer-copyright:</span>
    <a class="text-light" target="_blank" href="https://github.com/NadyneBarbieri"> Nadyne Barbieri</a>

</div>

</footer>
