<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3">Entrar</h1>
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]='usuarioLogin.usuario' class="form-control" type="text" name="usuario"
                            id="usuario" placeholder="seu usuario">
                    </div>

                    <div class="form-group">
                        <label for="senha">senha</label>
                        <input [(ngModel)]='usuarioLogin.senha' class="form-control" type="password" name="senha"
                            id="senha" placeholder="sua senha">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success" (click)="entrar()">Entrar</button>
                    </div>
                    <div class="social-field facebook">
                        <a href="">
                            <i class=""></i>
                            Entrar com facebook
                        </a>
                    </div>
                    <hr class="mt-5 mb-5">

                    <p class="text-center">Não tem uma conta?
                        <a routerLink="/cadastrar" class="text-weight-bold">Cadastre-se</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6" id="img-bg-dark">
            <iframe src='https://my.spline.design/lightingbunnycopy-a3d086e59ceabf0789c422819f3da57c/' frameborder='0' width='100%' height='700px'></iframe>
        </div>

    </div>

    <!--- <body>
        <div id="particles-js"></div>
         <script src="particles.js"></script>
         <script src="app.js"></script>
    </body> ----->

</div>