<div class="container-fluid">

    <div class="row bg-white d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 ">
                    <h1 class="fs-54">Seja bem vinde!</h1>
                    <h5 class="fs-18">expresse aqui seus pensamentos e opniões</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6 ">
                    <button class="btn btn-dark" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
                    <a class="btn btn-outline-dark mr-2" href="#postagens">Ver postagens</a>
                </div>
            </div>

        </div>
        <div class="col-md-6  d-flex justify-content-center">
            <img src="https://i.imgur.com/bUdA42H.png" alt="" width="500px" height="500px">
        </div>

    </div>
</div>

<nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-link active text-dark font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
            href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as
            Postagens</a>
        <a (click)="findByIdUser()" class="nav-link text-dark font-weight-bold" id="nav-minhasPostagens-tab"
            data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
            aria-selected="false">Minhas
            postagem</a>

        <a class="nav-link text-dark font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema"
            role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>
    </div>
</nav>

<div class="tab-content mt-5" id="nav-tabContent">

    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

        <div class="card-columns">
            <div class="card text-center" *ngFor="let i of listaPostagens">
                <div class="card-body">
                    <h5 class="card-title">{{i.titulo}}}</h5>
                    <small class="text-muted">Tema:{{i.tema.descricao}}</small>
                    <p class="card-text">{{i.texto}}</p>
                    <p class="card-text"><small class="text-muted">{{i.data | date: 'dd/MM/yyyy'}} às {{i.data | date:
                            'HH:mm'}
                            <p class="card-text"><small class="text-muted">by:{{i.usuario.nome}}</small></p>
                        </small></p>

                        <a [routerLink]="['/postagem-edit', i.id]" class="text-info mr=3" href="">Editar</a>
                        <a [routerLink]="['/postagem-delete', i.id]" class="text-danger" href="">Apagar</a>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="card-columns" *ngFor=" let tema of listaTemas">
            <div class="card text-center" *ngFor="let i of tema.postagem">
                <div class="card-body">
                    <h5 class="card-title">{{i.titulo}}}</h5>
                    <p class="card-text">{{i.texto}}</p>
                    <p class="card-text"><small class="text-muted">{{i.data | date: 'dd/MM/yyyy'}} às {{i.data | date:
                            'HH:mm'}
                        </small></p>


                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="card-columns">
            <div class="card text-center" *ngFor="let i of usuario.postagem">
                <div class="card-body">
                    <h5 class="card-title">{{i.titulo}}}</h5>
                    <small class="text-muted">Tema:{{i.tema.descricao}}</small>
                    <p class="card-text">{{i.texto}}</p>
                    <p class="card-text"><small class="text-muted">{{i.data | date: 'dd/MM/yyyy'}} às {{i.data | date:
                            'HH:mm'}
                            <p class="card-text"><small class="text-muted">by:{{i.usuario.nome}}</small></p>
                        </small></p>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novaPostagem">Nova postagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo"
                            placeholder="Digite o titulo">

                    </div>
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto"
                            rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="titulo">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">Cadastre um
                                novo</a></label>
                        <select name="tema" id="tema" class="form-control" [(ngModel)]="idTema"
                            (change)="findByidTema()">
                            <option *ngFor="let i of listaTemas" value="{{i.id}}">{{i.descricao}}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-succes" (click)="publicar()"
                        data-dismiss="modal">Publicar</button>
                </div>
            </div>
        </div>
    </div>